<div class="community-container">
  <header class="header">
    <div class="header-content">
      <h1>Estatísticas</h1>
      <div class="user-info">
        <span>Bem-vindo, <strong>{{ unique_name }}</strong></span>
        <button class="logout-btn" (click)="logout()">Sair</button>
      </div>
    </div>
  </header>

  <div class="main-layout">
    <aside class="sidebar">
      <nav class="sidebar-nav">
        <ul>
          <li><a routerLink="/community"><i class="fas fa-tasks"></i> Tarefas</a></li>
          <li><a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
          <li><a href="/usuarios"><i class="fas fa-users"></i> Usuários</a></li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <div class="estatisticas-container">
        <h2>Estatísticas do Sistema</h2>
        <ul>
          <li><strong>Usuários Registrados:</strong> {{ statistics.userCount }}</li>
          <li><strong>Total de Tarefas:</strong> {{ statistics.totalTasks }}</li>
          <li><strong>Tarefas Públicas:</strong> {{ statistics.publicTasks }}</li>
          <li><strong>Tarefas Privadas:</strong> {{ statistics.privateTasks }}</li>
        </ul>       
        <canvas id="myChart" width="300" height="300"></canvas>

        
       
      </div>
    </main>
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2023 Todos os direitos reservados.</p>
    </div>
  </footer>
</div>
