<div class="outer">
    <div class="container">
        <div class="title">Login</div>
        <div *ngIf="loginStatus" class="position-fixed top-0 end-0 p-3" style="z-index: 9999;">
            <div class="alert" [ngClass]="{
                'alert-success': loginStatus.success, 
                'alert-danger': !loginStatus.success
            }" role="alert">
                {{ loginStatus.message }}
            </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            
            <div class="input-group">
                <label for="email">Email</label>
                <div class="input-container">
                    <span class="fa-solid fa-envelope"></span>
                    <input type="email" id="email" formControlName="email" placeholder="Digite seu Email">
                </div>
                <div *ngIf="errorEmail" class="error">
                    {{ errorEmail }}
                </div>
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
                    O Email é obrigatório.
                </div>
            </div>

            <div class="input-group">
                <label for="password">Senha</label>
                <div class="input-container">
                    <span class="fa-solid fa-lock"></span>
                    <input type="password" id="password" formControlName="password" placeholder="Digite sua Senha">
                </div>
                <div *ngIf="errorPassword" class="error">
                    {{ errorPassword }}
                </div>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                    A senha é obrigatória.
                </div>
            </div>

            <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
        </form>

       

        <div class="already-account">
            <p>Não tem uma conta? <a routerLink="/register">Fazer Registro</a></p>
        </div>
    </div>
</div>